
body {
background-image: url(https://cdn.pixabay.com/photo/2020/05/12/16/21/pizza-5163800_960_720.jpg);
background-repeat: no-repeat;
background-size: 100vw;
font-family:'Lato',Helvetica,Arial;
 font-size:15px;
 display:flex;
 margin:0;
 min-height:100vh;
}
.pizzaCard{
    position: fixed;
    right: 30%;
    bottom: 200px;
}

.pizzaCard {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-top:30px;
    border: 1px solid #960801;
    text-shadow: 1px 1px 1px #0000009f;
    padding:10px 50px;
    border-radius:10px;
    background-color:#f3b509;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
    transition:all ease .2s;
}
.pizzaCard:hover {
    background-color:#960801;
}

h1, p{
    text-shadow: 1px 1px 2px #0000009f;
    display: block;
    background-color: #E30F02;
    border-radius: 10px;
    padding: 20px 40px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    position: fixed;
    right: 13%;
    top: 25%;
    color: #FFF;
}
p{
    top: 40%;
    right: 26%;
}

@media (max-width:840px) {
background-size: 100%;
}
