
body {
background-image:url(https://lh3.googleusercontent.com/lOfjJ6tIlQxoFgP5xTA6QcIEJzZpQketIIFi_76-nu5dPQ6Axm_OXrCaEM0kLj3feACoPqePG8qZ6tg56GcrpAgjdQzOgPCYiI31vNpRiYl3tr4Jo_hIfngjcOjvygSl40a1KQTbc4ZWqTpm6HdDv8OvUafiv_kGWvmLc41zf731XeVoPLKNMH7pWP3FE6ECnR5TaHsnsNUxEITkP4N_ov2Bm2ikJxrfx9yzhN6WAkesyFy0Mjxm7uH9sZZbl53ZcLae0JHTtr7j0nuwhESs4O5SmHprSYllHw349GNJUlb8JU-ETBsHdsH39IUgTrRFuB-zJpRp9R4aFpqk00jj9qQbRS1TLUAECijsBXxJxd3X-DdWI-asN1LSxlXlpmY9cLckUjxPbYFunzs8-XwAtqoIA6WoBr_dHX1wJaAd0pa1fSTNR93jhArldkSNy7r0w-aHqTKGkCIAum9ITdrmbaGMVz4dUQw_efRIFmzGYzQvW6YQongM5-ojzp7gN0LNDlD1mJ1FAbNasxex9x4cXvoX7HgsUESY9EBLuof3nd6y16r0N99jQQFO_K4XyJ04FVPKth0NsefNpgwajCBuzxcInF_OP4MJ8ZKR7xokctdpObTgXP3D9BVfVLNoAhc8s12r1BNYkuAvKAmRnNiIdsEbHchToj9B5sJGnkER907L8xcovRmI3TzgIzkyZKY13Vb0qanI3Gv8axOU7Ykmdrw5yjKW5jMZCHXRSa7662jkefO7M-i-REiVRil0PKM2JkytY5fqDxggKOLDm1P6Q0-EayIukF4rcg=w512-h492-no?authuser=0);
background-repeat: no-repeat;
background-size: 100vw;
font-family:'Lato',Helvetica,Arial;
 font-size:15px;
 display:flex;
 margin:0;
 min-height:100vh;
}
.pizzaCard{
    position: fixed;
    right: 20%;
    bottom: 500px;
}

.pizzaCard {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-top:30px;
    border: 1px solid #960801;
    text-shadow: 1px 1px 1px #0000009f;
    padding:5px 30px;
    border-radius:5px;
    background-color:#f3b509;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
    transition:all ease .2s;
}
.pizzaCard:hover {
    background-color:#960801;
}

h1, p{
    text-shadow: 1px 1px 2px #0000009f;
    display: block;
    background-color: #E30F02;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    position: fixed;
    right: 10%;
    top: 25%;
    color: #FFF;
}
p{
    top: 50%;
    right: 20%;
}
